/* styles.css */

:root {
    --background-color: #fff; /* Default light mode background color */
    --text-color: #333; /* Default light mode text color */
    --base-font-size: 16px; /* Default font size */
    --base-font-size-p: 16px;
    --base-font-size-h2: 28px;
    --base-font-size-h3: 24px; 
    --base-font-size-h4: 20px;
    --base-font-size-nav-a: 18px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: var(--base-font-size);
}

header {
    background-color: var(--text-color);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.lead{
    font-size: var(--base-font-size-h4);
    font-weight: 300;
}

/* Style the header */
header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Style the navigation links */
nav {
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: var(--base-font-size-nav-a);
}

/* Accessibility Section */
.accessibility-section {
    display: flex;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 0; /* Initial position outside the screen */
    transform: translateY(-50%);
    transition: left 0.3s ease; /* Smooth transition effect */
}

.toggle-icon {
    cursor: pointer;
    padding: 0px;
    background-color: #007bff;
    color: #fff;
    z-index: 2; /* Ensure the icon is above other elements */
    font-size: 16px;
}
.accessibility-section.show {
left: 50px
}

.icons-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: -150px; /* Initial position outside the screen */
    transform: translateY(-50%);
    transition: left 0.3s ease; /* Smooth transition effect */
}

.icons-container.show {
    left: -46px; /* Move to the center when the container has the "show" class */
}

.icons-container.show .toggle-icon {
    left: 150px; /* Move the ">" icon along with the other elements */
    transition: left 0.3s ease; /* Smooth transition effect for the ">" icon */
}

.icons-container button {
    margin-bottom: 10px; /* Adjust margin as needed */
}


/* Social Media Section */
.social-media {
    margin-top: 50px; /* Adjust spacing as needed */
}

.social-media h3 {
    font-size: var(--base-font-size-h3);
    margin-bottom: 10px;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media ul li {
    margin-bottom: 10px;
}
.social-media ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
    display: inline-block;
}

.social-media a:hover {
    color: #007bff; 
}
/* My Hobbies Section */
.hobbies-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;
}

.hobby-card {
    width: 300px;
    background-color: var(--background-color); 
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.hobby-card:hover {
    transform: scale(1.05);
}

.hobby-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.hobby-card h3 {
    font-size: var(--base-font-size-h3); 
    margin-bottom: 10px;
    color: var(--text-color); 
}

.hobby-card p {
    font-size: var(--base-font-size-p);
    color: #555;
}



/* Dark Mode */
.dark-mode {
    --background-color: #333;
    --text-color: #fff;
    --background-jumbotron-color: #1a435b;
}

/* Jumbotron */
.jumbotron {
    background-color: var(--background-jumbotron-color);
    color: var(--text-color); 
}

/* Social Media Section */
.social-media {
    margin-top: 50px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 20px;
}

.social-media h3 {
    font-size: var(--base-font-size-h3);
    margin-bottom: 10px;
}

.social-media ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-media li {
    margin-bottom: 8px;
}

.social-media a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    transition: color 0.3s ease;
    display: flex;
    align-items: center; 
}

.social-media i {
    margin-right: 10px; 
}

.social-media a:hover {
    color: #007bff; 
}

